.dot {
    height: 25px;
    width: 25px;
    background-color: #25B6E8;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.strike {
    text-decoration: line-through;
}

.typing {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    height: 500px;
    display: -moz-groupbox;
}

tbody {
    overflow-y: scroll;
    height: 400px;
    width: 100%;
    position: absolute;
}